body {
    background-color: beige;
    font: 14px verdana;
}

.textbox {
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
}

.button {
    background-color: gray;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
}

.meni {
    padding: 5px 20px 5px 20px;
}
