#pocetna {
    background-image: url(../Slike/Farma.jpg);
    background-repeat: no-repeat;
    background-size:1950px 950px;
}

#kokoska {
    position: absolute;
    left:50px;
    top:600px;
    width: 100px;
    height:100px;
}

#koza {
    position: absolute;
    left:200px;
    top:600px;
    width: 300px;
    height:200px;
}

#krava {
    position: absolute;
    left:600px;
    top:500px;
    width: 350px;
    height:250px;
}

#magarac {
    position: absolute;
    left:1000px;
    top:650px;
    width: 300px;
    height:200px;
}

#prase {
    position: absolute;
    left:1500px;
    top:600px;
    width: 300px;
    height:200px;
}

#meni {
    z-index: 100;
}

table {
    border: 2px solid black;
    width:20%;
    height:auto;
    text-align:center;
}

tr, td {
    border: 2px solid black;
}
